.profile__edit-button {
  margin-left: 18px;
  width: 24px;
  height: 24px;
  background: black;
  border-style: none;
  border: 1px solid white;
  color: white;
  background-image: url(../../../image/edit_vector.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

.profile__edit-button:active .popup__visible  {
  visibility: visible;
  }

@media screen and (max-width: 767px) {
  .profile__edit-button {
    margin-left: 10px;
    width: 18px;
    height: 18px;
  }
  
}