.header__logo {
  top: 0;
  left: 0;
  border-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .header__logo {
    margin-top: 18px;
    margin-left: 18px;
    width: 103px;
    height: 25px;
  }
}
