.profile__info-avatar {
  width: 100%;
  max-width: 120px;
  min-height: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  margin-right: 30px;
  position: relative;
}

.profile__info-avatar:hover {
  opacity: 0.8;
  cursor: pointer;
}

.profile__info-avatar:hover::before {
  opacity: 0.8;
}

.profile__info-avatar::after {
  content: "";
  background: rgb(0, 0, 0);
}

.profile__info-avatar::before {
  content: "";
  background-size: 26px 26px;
  background: rgb(0, 0, 0);
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 0.3s;
  background-image: url(../../../images/edit_avatar_icon.svg);
}
