.page {
  position: relative;
  width: 100%;
  background: black;
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4fr;
  grid-template-areas:
    "header"
    "profile"
    "elements"
    "footer";
}
