.profile {
  grid-area: profile;
  background: lightcoral;
  padding: 40px auto 50px;
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content:flex-start;
position: relative;
}
