.profile {
  grid-area: profile;
  padding: 0;
  max-width: 100%;
  width: 880px;
  display: flex;
  align-items: center;
  justify-content:flex-start;
  position: relative;
  padding: 40px 0 50px;
  margin: 45px auto 0;
  
}

@media screen and (max-width: 767px) {
  .profile {
flex-direction: column;
margin-top: 0;
padding-bottom: 0;
  }
}