.button_type_close {
  background-image: url(../../../image/close.svg);
  position: absolute;
  top: -35px;
  right: -35px;
  width: 32px;
  height: 32px;
  border: none;
}

@media screen and (max-width: 767px) {
  .button_type_close {
    background-image: url(../../../image/close-s.svg);
    width: 20px;
    height: 20px;
    top: -30px;
    right: 0;
  }
}
