.button_type_edit {
  border: 1px solid rgb(255, 255, 255);
  width: 24px;
  height: 24px;
  padding: 0;
  background-image: url(../../../images/edit_vector.svg);
  background-position: center;
}

@media screen and (max-width: 767px) {
  .button_type_edit {
    width: 18px;
    height: 18px;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 620px) {
  .button_type_edit {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
}

.button_type_edit:hover {
  -webkit-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  opacity: 0.6;
}
