.elements__foto {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 282px;
  height: 282px;
  z-index: 10;
  object-fit: cover;
}


.elements__foto:hover {
 filter: sepia(1);
}