.popup__title {
  margin: 34px auto 54px;
}

@media screen and (max-width: 767px) {
  .popup__title {
    margin: 25px auto 75px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
  }
}
