.elements {
    grid-area:elements;
    width: 100%;
    max-width: 880px;
    /*max-height: 744px;*/
    margin: 0 auto 66px;
    display: grid;
    grid-template-columns: repeat(3, 282px);
    grid-template-rows: repeat(2);
    /*grid-auto-flow: column;*/
    gap: 20px 17px;
    /*display: flex;
    background: rgb(58, 57, 57);
    align-items:center;
    justify-content:space-between;
    position: relative;
    border: dotted 1px rgb(102, 126, 15);
    */

}