.form__input-error-profession{
  font-family: "Inter", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  border: none;
  border-bottom: 3px solid rgb(94, 255, 0);
  padding-bottom: 5px;
  width: 100%;
  margin: 32px 0 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}



/* .form__input:invalid {
  border-bottom: solid 1px #FF0000;
  outline: none;
} */

