.element__like-count {
    margin: 0;
    /* padding: 0 0 0 217px; */
    color: rgb(0, 0, 0);
    font-family: "Inter", "Arial", sans-serif;
    font-size: 16px;
    font-style: normal;
    right: 10px;
    top: 25px;
    max-width: 246px;
    width: 100%;
    text-align: end;
    padding-right: 18px;
  
}