.button_type_close {
  background-image: url(../../../images/close.svg);
  position: absolute;
  top: -35px;
  right: -35px;
  width: 32px;
  height: 32px;
  border: none;
}

@media screen and (max-width: 767px) {
  .button_type_close {
    background-image: url(../../../images/close-s.svg);
    width: 20px;
    height: 20px;
    top: -30px;
    right: 0;
  }
}

.button_type_close:hover {
  opacity: 0.5;
  transition: opacity 0.3s linear;
}
