.button {
    border: 1px solid rgb(255, 255, 255);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity .1s linear;
    box-sizing: border-box;
    cursor: pointer;
}