.popup {
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  height: 100%;
  justify-content: center;
  opacity: 0;
  align-items: center;
  position: fixed;
  z-index: 50;
  visibility: hidden;
  -webkit-transition: visibility 0.5s, opacity 0.5s ease;
  -o-transition: visibility 0.5s, opacity 0.5s ease;
  transition: visibility 0.5s, opacity 0.5s ease;
}
